# ==========================================
# LIVEKIT CLOUD CREDENTIALS
# Get these from: https://cloud.livekit.io/
# ==========================================


LIVEKIT_URL=https://your-project.livekit.cloud
LIVEKIT_API_KEY=APIabc123...
LIVEKIT_API_SECRET=secret...

# ==========================================
# AI MODEL KEYS
# ==========================================

# OpenAI for LLM (Brain) and STT
OPENAI_API_KEY=sk.....

# Sarvam for TTS 
SARVAM_API_KEY=sk....

# Set TTS_PROVIDER to "openai" 
TTS_PROVIDER=openai


# ==========================================
# VOBIZ SIP TRUNK CONFIGURATION
# Get these from the Vobiz Console Platform: https://console.vobiz.ai/
# ==========================================

#TRUNK_ID From Livekit whil creating the trunk on the livekit
OUTBOUND_TRUNK_ID=S.....
# The SIP Domain provided by Vobiz
VOBIZ_SIP_DOMAIN=your_sip_domain.sip.vobiz.ai

# Your SIP Username
VOBIZ_USERNAME=your_username

# Your SIP Password
VOBIZ_PASSWORD=your_password

# Your DID (Phone Number) for outbound calls
# Must include country code (e.g., +91...)
VOBIZ_OUTBOUND_NUMBER= +91XXXXXXXXXX

# Default number to transfer call to
DEFAULT_TRANSFER_NUMBER=+91XXXXXXXXXX
